@model IAProject.Models.post

@{
    ViewBag.Title = "CreatePost";
}

<h2>CreatePost</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>post</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">

        @Html.LabelFor(x => x.ImagePath)
        <input type="file" name="ImageFile" required />
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.disc)
        @Html.TextBoxFor(x => x.disc)
        @Html.ValidationMessageFor(x => x.disc)
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
