@model IEnumerable<Instagram.Models.user>
@{
    ViewBag.Title = "Search";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/StyleSheet4.css" rel="stylesheet" />
</head>
<body>
    <!-- NavBar -->
    <nav class="navbar">
        <div class="nav-wrapper">
            <img src="~/img/logo.PNG" class="brand-img" alt="">

            <div class="nav-items">
                <img src="~/img/home.PNG" class="icon" alt="">
                @Html.ActionLink("Home", "ViewAllPosts", "Home")
                <img src="~/img/search.png" class="icon" alt="">
                @Html.ActionLink("Search", "Search", "Search")
                <img src="~/img/add.PNG" class="icon" alt="">
                @Html.ActionLink("Create Posts", "CreatePost", "Post")
                <img src="~/img/like.PNG" class="icon" alt="">
                @Html.ActionLink("Requests", "ViewRequests", "Friends")
                <img src="~/img/prof2.png" class="icon" alt="">
                @Html.ActionLink("My Profile", "ViewProfile", "Profile")
                <img src="~/img/log.jpg" class="icon" alt="">
                @Html.ActionLink("Log Out", "Login", "Login")
            </div>
        </div>
    </nav>
    <br> <br>
    <h2>People You May Know</h2>
    @using (Html.BeginForm("Search", "Search", FormMethod.Get))
    {
        @Html.TextBox("Searching")<input type="submit" value="Search" />
    }
    <table class="table table-striped">
        <thead>
            <tr>
                <th>User First Name</th>
                <th>User Last Name</th>
                <th>User Email</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() == 0)
            {
                <tr>
                    <td colspan="3" style="color:red">No Match</td>
                </tr>
            }
            else
            {
                foreach (var item in Model)
                {
                    if (!@ViewData["ID"].Equals(item.UserID))
                    {
                        <tr>
                            <td>@item.Fname</td>
                            <td>@item.Lname</td>
                            <td>@item.email</td>
                            <td>@Html.ActionLink("View Profile", "ViewOtherProfile","Profile", new { id = item.UserID },null)</td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</body>
</html>