@model IEnumerable<Instagram.Models.user>
@{
    ViewBag.Title = "Search";
}

<h2>People You May Know</h2>

@using (Html.BeginForm("Search", "Search", FormMethod.Get))
{
    @Html.TextBox("Searching")<input type="submit" value="Search" />
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>User First Name</th>
            <th>User Last Name</th>
            <th>User Email</th>
        </tr>
    </thead>

    <tbody>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="3" style="color:red">No Match</td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
                if (!@ViewData["ID"].Equals(item.UserID))
                {
                <tr>
                    
                    <td>@item.Fname</td>
                    <td>@item.Lname</td>
                    <td>@item.email</td>
                    <td>@Html.ActionLink("View Profile", "ViewOtherProfile", new { id = item.UserID })</td>
                </tr>
                }
            }
        }
    </tbody>
</table>