@model IEnumerable<Instagram.ViewModels.FullHomePage>

@{
    ViewBag.Title = "Home Page";
}

@foreach (var item in Model) {
    <div>
        <dt>
            @Html.DisplayFor(modelItem=>item.User.Fname)
            @Html.DisplayFor(modelItem=>item.User.Lname)
        </dt>
        <dd>
            <img src="@Url.Content(item.posts.ImagePath)" width="200" height="200" />
        </dd>
        <dd>
            @Html.DisplayFor(modelItem => item.posts.disc)
        </dd>

        <dd>
            Likes:@Html.DisplayFor(modelItem => item.LikesCounter)
            ||
            Dislikes: @Html.DisplayFor(modelItem => item.DislikesCounter)
        </dd>
        @foreach (var z in item.comments)
        {
            if (z.PostID == item.posts.PostID)
            {
                <dd>
                    @Html.DisplayFor(modelItem=>z.data)
                </dd>
            }
        }

        <td>
            @if (item.Like.PostID != item.posts.PostID)
            {
                @Html.ActionLink("Like", "Like", new { id = item.posts.PostID })
                @Html.ActionLink("Dislike", "Dislike", new { id = item.posts.PostID }) 
                @Html.ActionLink("Comment", "Comment", new { id = item.posts.PostID } )
            }
            else {
            @Html.ActionLink("Undo", "Undo", new { id = item.Like.LikeID })
            }
        </td>
    </div>
}

