@model IEnumerable<Instagram.ViewModels.PostsAndUser>
@{
    ViewBag.Title = "My Profile";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/StyleSheet5.css" rel="stylesheet" />
</head>
<body>
    <!-- NavBar -->
    <nav class="navbar">
        <div class="nav-wrapper">
            <img src="~/img/logo.PNG" class="brand-img" alt="">

            <div class="nav-items">
                <img src="~/img/home.PNG" class="icon" alt="">
                @Html.ActionLink("Home", "ViewAllPosts", "Home")
                <img src="~/img/search.png" class="icon" alt="">
                @Html.ActionLink("Search", "Search", "Search")
                <img src="~/img/add.PNG" class="icon" alt="">
                @Html.ActionLink("Create Posts", "CreatePost", "Post")
                <img src="~/img/like.PNG" class="icon" alt="">
                @Html.ActionLink("Requests", "ViewRequests", "Friends")
                <img src="~/img/prof2.png" class="icon" alt="">
                @Html.ActionLink("My Profile", "ViewProfile", "Profile")
                <img src="~/img/log.jpg" class="icon" alt="">
                @Html.ActionLink("Log Out", "Login", "Login")
            </div>
        </div>
    </nav>
    @foreach (var item in Model)
    {
        <div>
            <hr />
            <dl class="dl-horizontal">
                <header>
                    <div class="container">
                        <div class="profile">
                            <div class="profile-image">
                                @if (item.user.ImagePath != null)
                                {

                                    <img src="@Url.Content(item.user.ImagePath)" width="150" height="150">
                                }
                            </div>
                            <div class="profile-bio">
                                <dt>
                                    @Html.DisplayNameFor(model => model.user.Fname)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => item.user.Fname)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.user.Lname)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => item.user.Lname)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.user.email)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => item.user.email)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.user.mobile)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => item.user.mobile)
                                </dd>

                            </div>
                            <br>
                            <div class="profile-user-settings">
                                <img src="~/img/edit.png" width='25' height='25'>
                                @Html.ActionLink("Edit", "EditProfile", new { id = item.user.UserID }) |
                            </div>
                        </div>
                        <!-- End of profile section -->
                    </div>
                    <!-- End of container -->
                </header>
            </dl>
        </div>
        break;
    }
</body>

@foreach (var item in Model)
{
    if (item.post != null)
    {

    <!-- Post -->
    <div class="container2">
        <div class="top_bar">
            <div class="profile_img">
                <img src="~/img/prof.png">
                <span>
                    @Html.DisplayFor(modelItem => item.user.Fname)
                    @Html.DisplayFor(modelItem => item.user.Lname)
                </span>
            </div>
            <i class="fa fa-ellipsis-h"></i>
        </div>
        <div class="main_img">
            <img src="@Url.Content(item.post.ImagePath)">
        </div>
        <div class="footer">
            <div class="iconsss">

                    @if (item.Like.PostID != item.post.PostID)
                    {
                        <img src="~/img/like.png" width='25' height='25'>
                        @Html.ActionLink("Like", "Like", new { id = item.post.PostID })
                        <img src="~/img/dis.png" width='25' height='25'>
                        @Html.ActionLink("Dislike", "Dislike", new { id = item.post.PostID })
                    }
                    else
                    {
                        <img src="~/img/undo.png" width='25' height='25'>
                        @Html.ActionLink("Undo", "Undo", new { id = item.Like.LikeID })
                    }


                Likes:@Html.DisplayFor(modelItem => item.likesCounter)
                ||
                Dislikes: @Html.DisplayFor(modelItem => item.disLikesCounter)

            </div>
            <div class="content">
                Description:
                @Html.DisplayFor(modelItem => item.post.disc)
            </div>
            <div class="comments">
            </div>
            <div class="comments_box">
                @Html.ActionLink("add your comment", "makeComment", "Home", new { id = item.post.PostID }, null)
                <img src="~/img/comment.PNG" width='25' height='25'>


            </div>
            Comments:
            @foreach (var x in item.comments)
            {
                if (x.PostID == item.post.PostID)
                {
                    <div>
                        <dt>
                            @Html.DisplayFor(modelItem => x.user.Fname)
                            @Html.DisplayFor(modelItem => x.user.Lname) :
                            @Html.DisplayFor(modelItem => x.data)
                        </dt>

                    </div>
                }
            }
        </div>
    </div>
    }
}

</html>

