@model Instagram.Models.user
@{
    ViewBag.Title = "Login";
}
<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/StyleSheet2.css" rel="stylesheet" />
</head>
<body>
    @using (Html.BeginForm("Login", "LoginOrRegistration", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div id="wrapper">
            <div class="main-content">
                <div class="header">
                    <img src="~/img/logo.PNG" />
                </div>
                <div class="l-part">
                    <div class="input-1">
                        <dt>UserName</dt>

                        @Html.EditorFor(x => x.email)
                        @Html.ValidationMessageFor(x => x.email)
                    </div>
                    <div class="input-2">
                        @Html.LabelFor(x => x.Password)
                        @Html.EditorFor(x => x.Password)
                        @Html.ValidationMessageFor(x => x.Password)
                    </div>
                    <button type="submit" class="btn">Login</button>
                </div>
            </div>
            <div class="sub-content">
                <div class="s-part">
                    Don't have an account? @Html.ActionLink("Sign up", "Registration")
                </div>
            </div>
        </div>


    }
</body>
</html>